.location-header {
    display:flex;
    justify-content: center;
    align-items: center;
    background: #F2C2C2;
    opacity: 80%;
    color: white;
    height: 100px;
  }

  .location-container {
      background: white;
      height:auto;
      cursor:default;
      width:auto;
      display: block;
      text-align: center;
      align-items: center;
  }

  .location-item li {
    list-style-type: none;
    font-size: 10pt;
    color: #646464;
    text-align: center;
    display: block;
  }

  .location-item ul {

    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
  }

  .location-item p {
    font-size: 12pt;
    color: #646464;
    margin: 20px;
  }

  .location-item p.bold{
    margin-top: 20px;
    font-size: 18px;
  }

  .location-item {
    height: auto;
    display: inline-table;
    text-align: center;
  }

  .location-item li {
    font-size: 12pt;
    color: #646464; 
  }

  .rectangle {
    height: 10px;
    width: 300px;
    background-color: #555;
  }